body {
  background-color: #f7e6dd;
  margin-left: 40px;
  margin-left: 40px;
}

#nav1 {
  background-color: orange;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0.5px 1px 0.5px grey;
}

#nav2 {
  background-color: blue;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0.5px 1px 0.5px grey;
}
h1,
h2,
{
  font-family: 'PT Sans', sans-serif;
  color:  red;
  text-align: center;
}

h2 {
  color: #ef102e;
  font-size: larger;
  text-shadow: 0.5px 1px 0.5px grey;
}
