body {
  background-color: #BAE19A;
  margin-left: 40px;
  margin-left: 40px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


p {
  margin-right: 150px;
  margin-left: 80px;
  font-family: 'Trebuchet MS', sans-serif;
  color: 33A8FF;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: white;}

h1
{

  margin-right: 150px;
  margin-left: 80px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  color: 33A8FF;
  font-size: larger
}

h2 {
  color: 33A8FF;
  font-size: larger;
}
